body {
    font-family: 'Fascinate Inline', cursive;
    font-family: 'Raleway', sans-serif;
}

input[type=text], input[type=email], textarea, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #a55fc1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 22px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a55fc1cc;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 150px;
}

